.frameParent {
  width: 1440px;
  flex-direction: column;
  align-items: flex-start;
  gap: 69px;
  flex-shrink: 0;
  max-width: 100%;
}
.card6Parent,
.frameParent,
.main {
  display: flex;
  justify-content: flex-start;
}
.card6Parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 var(--padding-4xs);
  box-sizing: border-box;
  gap: var(--gap-69xl);
  max-width: 100%;
}
.main {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-51xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .card6Parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .frameParent {
    gap: var(--gap-15xl);
  }
  .card6Parent {
    gap: var(--gap-25xl);
  }
  .main {
    gap: var(--gap-16xl);
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    gap: var(--gap-mid);
  }
  .card6Parent {
    gap: var(--gap-3xl);
  }
  .main {
    gap: var(--gap-mid);
  }
}