.meditrackProIs {
  flex: 1;
  position: relative;
  line-height: 34px;
  display: inline-block;
  max-width: 100%;
}
.aboutText {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: justify;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--laptop-headline-small);
}
@media screen and (max-width: 450px) {
  .meditrackProIs {
    font-size: var(--font-size-base);
    line-height: 27px;
  }
}
