.aboutIllustrationIcon {
  height: 4px;
  width: 49px;
  position: absolute;
  margin: 0 !important;
  bottom: 57.5px;
  left: -23.5px;
  object-fit: contain;
}
.aboutMeditrackPro {
  margin: 0;
  width: 392px;
  position: relative;
  font-size: inherit;
  line-height: 45px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 107%;
  flex-shrink: 0;
}
.aboutSec {
  position: absolute;
  top: 0;
  left: 180px;
  background-color: var(--color-white);
  width: 418px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-20xl) 0 var(--padding-20xl) var(--padding-30xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  white-space: nowrap;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--laptop-headline-small);
}
