.aboutHeaderWrapper,
.doubleCardContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.aboutHeaderWrapper {
  justify-content: center;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.doubleCardContainer {
  justify-content: space-between;
  gap: var(--gap-xl);
}
.doubleCardContainerParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-69xl);
  min-width: 531px;
}
.card3Parent,
.cardListContainer,
.doubleCardContainerParent,
.featuresGrid {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.card3Parent {
  width: 354px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-69xl);
  min-width: 354px;
}
.cardListContainer,
.featuresGrid {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-122xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-rubik);
}
.featuresGrid {
  background-color: var(--color-midnightblue);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-45xl) var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-48xl);
  text-align: center;
  font-size: var(--font-size-45xl);
}
@media screen and (max-width: 1350px) {
  .card3Parent {
    flex: 1;
  }
  .cardListContainer {
    gap: var(--gap-51xl);
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .doubleCardContainer {
    flex-wrap: wrap;
  }
  .doubleCardContainerParent {
    gap: var(--gap-25xl);
  }
}
@media screen and (max-width: 800px) {
  .card3Parent,
  .doubleCardContainerParent {
    min-width: 100%;
  }
  .cardListContainer {
    gap: var(--gap-16xl);
  }
  .featuresGrid {
    gap: var(--gap-14xl);
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .doubleCardContainerParent {
    gap: var(--gap-3xl);
  }
  .card3Parent {
    gap: var(--gap-25xl);
  }
  .cardListContainer {
    gap: var(--gap-lg);
  }
  .featuresGrid {
    gap: var(--gap-mid);
  }
}