.duplicateHeader {
  width: 1444px;
  flex-direction: row;
  justify-content: center;
}
.card2Parent,
.cardGrid,
.duplicateHeader {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.card2Parent {
  width: 377px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-47xl);
}
.cardGrid {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.cardsContainer,
.duplicateCards {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.duplicateCards {
  width: 1728px;
  background-color: var(--color-midnightblue);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-102xl) var(--padding-13xl);
  gap: var(--gap-32xl);
}
.cardsContainer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-333xl);
  gap: var(--gap-69xl);
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-rubik);
}
@media screen and (max-width: 1650px) {
  .cardGrid {
    justify-content: center;
  }
  .cardGrid,
  .cardsContainer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1275px) {
  .duplicateCards {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .cardsContainer {
    padding-bottom: var(--padding-130xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .duplicateCards {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .cardsContainer {
    gap: var(--gap-25xl);
  }
}
@media screen and (max-width: 450px) {
  .card2Parent {
    gap: var(--gap-14xl);
  }
  .duplicateCards {
    gap: var(--gap-6xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .cardsContainer {
    gap: var(--gap-3xl);
    padding-bottom: var(--padding-78xl);
    box-sizing: border-box;
  }
}
