.cardHeaderContainer,
.cardItems {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.cardHeaderContainer {
  justify-content: center;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.cardItems {
  justify-content: space-between;
  gap: var(--gap-xl);
}
.cardItemsParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-69xl);
  min-width: 531px;
}
.cardItemsParent,
.duplicateTitle,
.thirdCardContainer,
.thirdCardWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.duplicateTitle {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
}
.thirdCardContainer,
.thirdCardWrapper {
  flex-direction: column;
}
.thirdCardContainer {
  align-self: stretch;
  gap: var(--gap-69xl);
}
.thirdCardWrapper {
  width: 370px;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  min-width: 370px;
}
.cardListWrapper,
.featuresGrid {
  display: flex;
  max-width: 100%;
  color: var(--color-white);
  font-family: var(--font-rubik);
}
.cardListWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-106xl);
  text-align: left;
  font-size: var(--font-size-13xl);
}
.featuresGrid {
  width: 1440px;
  background-color: var(--color-midnightblue);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-45xl) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-48xl);
  text-align: center;
  font-size: var(--font-size-45xl);
}
@media screen and (max-width: 1350px) {
  .thirdCardWrapper {
    flex: 1;
  }
  .cardListWrapper {
    gap: var(--gap-43xl);
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .cardItems {
    flex-wrap: wrap;
  }
  .cardItemsParent {
    gap: var(--gap-25xl);
  }
}
@media screen and (max-width: 800px) {
  .cardItemsParent,
  .thirdCardWrapper {
    min-width: 100%;
  }
  .cardListWrapper {
    gap: var(--gap-12xl);
  }
  .featuresGrid {
    gap: var(--gap-14xl);
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .cardItemsParent {
    gap: var(--gap-3xl);
  }
  .thirdCardContainer {
    gap: var(--gap-25xl);
  }
  .cardListWrapper {
    gap: var(--gap-base);
  }
  .featuresGrid {
    gap: var(--gap-mid);
  }
}