.button {
  height: 0;
  flex: 1;
  position: relative;
  display: inline-block;
}
.commonButton {
  width: 202px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--laptop-headline-small-size);
  color: var(--color-lime);
  font-family: var(--laptop-headline-small);
}
@media screen and (max-width: 450px) {
  .button {
    font-size: var(--font-size-lgi);
  }
}
