.component3 {
  width: 655px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl-9) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
  text-align: left;
  font-size: var(--laptop-headline-small-size);
  color: var(--color-lime);
  font-family: var(--font-poppins);
}
