.featureListIcon {
  height: 790px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.unsplash1csavdwfiewIcon {
  position: absolute;
  top: calc(50% - 241px);
  left: calc(50% - 316px);
  width: 588px;
  height: 502px;
  object-fit: cover;
}
.mainPic {
  height: 538px;
  width: 760px;
  position: absolute;
  margin: 0 !important;
  right: 316px;
  bottom: 5px;
  z-index: 3;
}
.content,
.featureListParent,
.nestedFeature {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.featureListParent {
  width: 1728px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
}
.content,
.nestedFeature {
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
}
.content {
  width: 664px;
  padding: var(--padding-3xs);
  z-index: 2;
}
.nestedFeature {
  align-self: stretch;
  background-color: var(--color-gray-200);
  padding: var(--padding-25xl) var(--padding-45xl) var(--padding-smi);
  position: relative;
  gap: var(--gap-46xl);
  z-index: 1;
  text-align: left;
  font-size: var(--laptop-headline-small-size);
  color: var(--color-white);
  font-family: var(--font-rubik);
}
@media screen and (max-width: 800px) {
  .nestedFeature {
    gap: var(--gap-13xl);
    padding: var(--padding-10xl) var(--padding-13xl) var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .nestedFeature {
    gap: var(--gap-base);
    padding-top: var(--padding-xl);
    box-sizing: border-box;
  }
}