.card4Parent,
.card7Wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.card7Wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
}
.card4Parent {
  width: 368px;
  flex-direction: column;
  padding: 0 var(--padding-2xs) 0 0;
  gap: var(--gap-63xl);
}
@media screen and (max-width: 450px) {
  .card4Parent {
    gap: var(--gap-22xl);
  }
}
