.standardBankMalawiIconjpeg {
  height: 40px;
  width: 40px;
  position: relative;
  object-fit: cover;
}
.home {
  text-decoration: none;
  height: 0;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 39px;
}
.homeLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-12xs);
}
.about {
  text-decoration: none;
  height: 0;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 40px;
}
.homeLink1 {
  width: 41.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
}
.login,
.register {
  text-decoration: none;
  height: 0;
  position: relative;
  color: inherit;
}
.register {
  width: 55px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login {
  display: inline-block;
  min-width: 37px;
}
.homeLink3 {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-11xs);
}
.contact,
.homeLink3,
.homeLink4 {
  display: flex;
  align-items: center;
}
.contact {
  text-decoration: none;
  width: 53px;
  height: 0;
  position: relative;
  color: inherit;
}
.homeLink4 {
  width: 41.6px;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
}
.searchIcon {
  height: 16px;
  width: 16px;
  position: relative;
}
.links,
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search {
  overflow: hidden;
  justify-content: center;
  width: 16px;
  height: 16px;
}
.links {
  align-self: stretch;
  justify-content: space-between;
  padding: var(--padding-4xs-5) 0;
  box-sizing: border-box;
  max-height: 33px;
  gap: var(--gap-xl);
}
.headerLinks,
.linksLogo {
  display: flex;
  max-width: 100%;
}
.headerLinks {
  width: 344px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.linksLogo {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-rubik);
}
